$width-wrapper: 90%;

$color-red: rgba(238, 54, 66, 1);
$color-dark-blue: rgba(41, 52, 72, 1);
$color-blue: rgba(50, 66, 92, 1);
$color-green: rgba(99, 166, 61, 1);
$color-white: rgba(255, 255, 255, 1);
$color-dark-white: rgba(242, 246, 249, 1.0);
$color-sort-block: rgba(247, 242, 236, 1);
$color-sort-inactive: rgba(203, 198, 192, 1);
$color-important-text: rgba(215, 186, 128, 1);