.list-orders{

}

.order{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    font-size: 1.5rem;
    border-bottom: 2px solid $color-dark-white;
    margin-bottom: 10px;
}

.order__img{
    height: 40px;
    width: 40px;
}

.order__note{
    width: 60%;
}

.order__price{
    width: 15%;
}
